:host {
  color: var(--white);
  line-height: 42px;
  font-size: 24px;
  position: absolute;
  display: flex;
  width: 700px;
  height: 50px;
  top: 620px;
}

:host .player-box-red {
  width: 310px;
  padding: 2px;
  border: 2px solid var(--red);
}

:host .player-box-blue {
  width: 310px;
  padding: 2px;
  border: 2px solid var(--blue);
}

:host .highlight {
  border: 2px solid var(--white);
}

:host .red-player {
  background: var(--red);
  padding-left: 10px;
}

:host .blue-player {
  background: var(--blue);
  text-align: right;
  padding-right: 10px
}

:host .box-vs {
  width: 89px;
  margin: 0px 10px 0px 10px;
  text-align: center;
  padding: 2px;
  border: 2px solid var(--grey);
}

:host .player-vs {
  background: var(--grey);
}

:host .blink {
  animation: blinker2 0.4s linear infinite;
  -webkit-animation: blinker 0.4s linear infinite;
}

@keyframes blinker2 {
  50% {
    border: 2px solid #FFFFFF00;
  }
}