:host {
  display: block;
  position: absolute;
  width: var(--cell);
  height: var(--cell);
  box-sizing: border-box;
  pointer-events: none;
  padding: calc(var(--cell) / 10);
}

.ficha {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: calc(var(--cell) / 3);
}
::ng-deep {
  .hidden {
    display: none;
  }
  .rojo .ficha {
    background: var(--red);
  }

  .azul .ficha {
    background: var(--blue);
  }
  ficha.winner .ficha {
    animation: fichablinker 0.5s ease-in-out infinite;
  }
}

@keyframes fichablinker {
  50% {
    transform: scale(1.1);
  }
}
