:host {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 500px;
  height: 235px;
  background-color: var(--white);
  box-shadow: 0px 0px 20px 0px #888888;
  top: 180px;
  left: 100px;
}

::ng-deep form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

::ng-deep .ganador {
  text-align: center;
  padding: 20px;
}

::ng-deep .grow {
  flex-grow: 100;
}

::ng-deep .options {
  display: flex;
  flex-direction: row-reverse;
  min-height: 55px;
  max-height: 55px;
}

::ng-deep button {
  display: block;
  width: 100px;
  max-height: 35px;
  background: var(--button);
  color: var(--white);
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: none;
  outline: none;
}

::ng-deep button:hover {
  background: var(--buttonhover);
  cursor: pointer;
}

::ng-deep input {
  padding: 10px;
  margin: 10px;
  border:none;
  outline: none;
  
}
::ng-deep input[type="text"] {
    width:200px;
    margin:auto;
    border: 1px solid var(--inputborder);
}

::ng-deep input[type="text"]:hover {
  border: 1px solid var(--inputfocus);
}
::ng-deep input[type="text"]:focus {
  border: 1px solid var(--inputfocus);

}
::ng-deep input[type="submit"] {
  width: 100px;
  
  border: none;
  outline: none;
  background: var(--button);
  color: var(--white);
}

::ng-deep input[type="submit"]:hover {
  background: var(--buttonhover);
  cursor: pointer;
}
::ng-deep input[type="submit"]:disabled{
  background: grey;
}
::ng-deep .align-center {
    width:100%;
    text-align: center;
}

::ng-deep .waiting{
    display:flex;
    flex-flow: column;
    flex-grow: 1;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}