<ng-container *ngIf="(juego_$ | async) as j; else formconnection">
  <ng-container *ngIf="(jugador_$ | async) as jugador">

    <tablero *ngIf="(tablero_$ | async) as t">
      <ng-container *ngIf="(fichas_$ | async) as fichas">
        <div *ngFor="let c of t.col; let i = index;" class="row" [style.top]="(c.x - 100) + 'px'" [class.even]="i % 2 == 0 && i != 0"></div>
        <div *ngFor="let c of t.col; let i = index;" class="col" [ngClass]="j.turno" [style.left]="c.x + 'px'"
          [class.highlight]="j.jugadores.azul && i === j.sCol && !j.fin && j.jugadores[j.turno].id == jugador.id"
          (mouseenter)="j.jugadores.azul && !j.fin && j.jugadores[j.turno].id == jugador.id && ws.moverFicha(j, t, fichas, i)"
          (click)="j.jugadores.azul && !j.fin && j.jugadores[j.turno].id == jugador.id && ws.tirarFicha(j, t, fichas, i)"></div>
        <ng-container *ngIf="j.jugadores.azul else waiting">
          <ficha *ngFor="let f of fichas.rojo" [ngClass]="f.color" [style.left]="f.pos.x + 'px'" [style.top]="f.pos.y + 'px'"
            [class.hidden]="!f.visible"></ficha>
          <ficha *ngFor="let f of fichas.azul" [ngClass]="f.color" [style.left]="f.pos.x + 'px'" [style.top]="f.pos.y + 'px'"
            [class.hidden]="!f.visible"></ficha>
        </ng-container>
        <ng-template #waiting>
          <gui>
              <div class="waiting">Waiting for oponent...</div>
          </gui>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="j.fin">
        <gui>
          <div class="ganador">GANA {{j.ganador.name | uppercase}}</div>
          <div class="options">
            <div class="button" (click)="restart()">RESTART</div>
          </div>
        </gui>
      </ng-container>
    </tablero>

  </ng-container>

  <!-- </ng-template> -->
</ng-container>

<ng-template #formconnection>
  <tablero *ngIf="(tablero_$ | async) as t">
    <div *ngFor="let c of t.col; let i = index;" class="row" [style.top]="(c.x - 100) + 'px'" [class.even]="i % 2 == 0 && i != 0"></div>
    <div *ngFor="let c of t.col; let i = index;" class="col" [style.left]="c.x + 'px'"></div>
    <ng-container *ngIf="!(jugador_$ | async); else newgame">
      <gui>
        <new-user-form (onJoin)="newUser($event)"></new-user-form>
      </gui>
    </ng-container>
    <ng-template #newgame>
      <gui>
        <new-game-form [juegos]="(juegos_$ | async)" (onNew)="newGame($event)" (onJoin)="joinGame($event)"></new-game-form>
      </gui>
    </ng-template>
  </tablero>
</ng-template>

<pre style="pointer-events: none; opacity: 0.3;">
    PLAYER:
    <span style="color:red;">{{(jugador_$ | async)?.name}}</span>
    GAME:
    <span style="color:blue;">{{(juego_$ | async)?.id}}</span>
    PLAYERS:
    <span style="color:green;">{{(jugadores_$ | async) | json}}</span>
    GAMES:
    <span style="color:magenta;">{{(juegos_$ | async) | json}}</span>
  </pre>