:host {
  --red: rgb(255, 80, 50);
  --blue: rgb(50, 80, 255);
  --white: #FFFFFF;
  --grey: #555555;
  --button: #7FC13D;
  --buttonhover: #8FD14D;
  --inputborder: #333333;
  --inputfocus: #7FC13D;
  --background: #333333;
}

::ng-deep body {
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
}

::ng-deep input {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;

}

::ng-deep button {
  font-family: 'Courier New', Courier, monospace;
}

:host {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--background);
}

:host pre {
  position: fixed;
}

:host .main-content {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}