:host {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main-content {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  &.chat-opened gui {
    width: calc(100vw - var(--chat-size));
  }
}

.chat-toggle {
  box-sizing: border-box;
  position: fixed;
  width: 45px;
  height: 40px;
  bottom: 20px;
  right: 0px;
  background-color: var(--white);
  border-radius: 5px 0 0 5px;
  padding: 5px 10px 5px 5px;
  cursor: pointer;
  box-shadow: var(--shadow);
  .chat-icon {
    // background-image: url("/../../../assets/chat.svg");
    background-image: url("/assets/chat.svg");
    background-size: contain;
    width: 100%;
    height: 100%;
  }
  transition: 200ms;
  &:hover {
    width: 50px;
    padding: 5px 15px 5px 5px;
  }
  .chat-alert {
    position: absolute;
    bottom: 4px;
    left: calc(20px);
    background-color: var(--button);
    color: white;
    font-size: 18px;
    font-weight: 900;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .chat-alert-bubble {
    position: absolute;
    bottom: 4px;
    left: calc(20px);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--button);
    transform: scale(1);
    opacity: 0.5;
    pointer-events: none;
    animation: alertanim 800ms ease-out;
  }
}

@keyframes alertanim {
  100% {
    opacity: 0;
    transform: scale(30);
  }
}

.app-title {
  box-sizing: border-box;
  width: 100vw;
  height: 30vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  // background-image: url("/../../../assets/title.svg");
  background-image: url("/assets/title.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
