:host {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

:host .game-list {
  width: 100%;
  max-height: calc(100vh - 300px);
  overflow: auto;
}

.game-element {
  display: flex;
  &:not(:first-child) {
    margin-top: 5px;
  }
}

:host .game-list-player {
  padding: 10px;
  min-width: 175px;
  color: var(--white);
}
:host .game-list-grey {
  background: var(--grey);
}
:host .game-list-red {
  background: var(--red);
}

:host .game-list-blue {
  background: var(--blue);
  text-align: right;
}
:host .game-list-green {
  background: var(--cyan);
  text-align: right;
  animation: joinblinker 0.5s ease-in-out infinite;
  transform: 200ms;
  &:hover {
    background: var(--cyanhover);
    cursor: pointer;
  }
}
:host .game-list-vs {
  background: var(--grey);
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  color: var(--white);
}

@keyframes joinblinker {
  50% {
    background: var(--cyanhover);
  }
}
