:host {
  display: flex;
  flex-grow: 1;
  margin: 5px 5px 0px 5px;
  overflow: hidden;
}

:host .game-list {
  width: 100%;
  display: flex;
  flex-flow: column;
}
:host .vertical-center{
    justify-content: center;
}

:host button {
  margin: 5px !important;
}

:host .game-element {
  display: flex;
  min-height: 45px;
  max-height: 45px;
  /* border:1px solid green; */
}

:host .game-list-player {
  padding: 10px;
  min-width: 175px;
  margin: 5px;
  color: var(--white);
}
:host .game-list-grey {
  background: var(--grey);
}
:host .game-list-red {
  background: var(--red);
}

:host .oponent-available {
  flex-grow: 1;
}

:host .game-list-blue {
  background: var(--blue);
  text-align: right;
}

:host .game-list-vs {
  background: var(--grey);
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  margin: 5px;
  color: var(--white);
}