<div class="game-list">
  <div *ngFor="let j of juegos"
       class="game-element">
    <ng-container *ngIf="j.jugadores.azul; else waiting">
      <div class="game-list-player game-list-red">
        {{ j.jugadores.rojo.name | uppercase }}
      </div>
      <div class="game-list-vs">VS</div>
      <div class="game-list-player game-list-blue">
        {{ j.jugadores.azul.name | uppercase }}
      </div>
    </ng-container>
    <ng-template #waiting>
      <div class="game-list-player game-list-red">
        {{ j.jugadores.rojo.name | uppercase }}
      </div>
      <div class="game-list-vs">VS</div>
      <div class="game-list-player game-list-green"
           (click)="join(j.id)">JOIN GAME</div>
    </ng-template>
  </div>
</div>
