body {
  --red: rgb(255, 80, 50);
  --red-trans: rgba(255, 81, 50, 0.1);
  --red-dark: rgb(99, 15, 0);
  --blue: rgb(50, 80, 255);
  --blue-trans: rgba(50, 80, 255, 0.1);
  --blue-dark: rgb(0, 14, 82);
  --cyan: rgb(50, 183, 255);
  --cyanhover: rgb(107, 202, 253);
  --white: #ffffff;
  --grey: #555555;
  --button: #7fc13d;
  --buttonhover: #8fd14d;
  --inputborder: #8d8d8d;
  --disabled: #bababa;
  --chat-bg: #ededed;
  --inputfocus: #7fc13d;
  --background: #222222;
  --invalid: rgb(240, 30, 93);
  --shadow: 0px 0px 10px 0px #03030340;
  --chat-animation: 300ms;
  --chat-size: 280px;
  --lines: #cdcdcd;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: 100vh;
  background: var(--background);
  overflow: hidden;
}

input {
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}

button {
  font-family: "Courier New", Courier, monospace;
}
